*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mypiano{
   margin-top: 20vh;
}
button{
    width: 80px;
    height: 300px;
    border: 1px solid black;
    outline: white;
    font-size: 20px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
}
@media(max-width: 768px){
    .mypiano{
        margin-top: 10vh;
    }
    button{
        width: 50px;
        height: 200px;
        font-size: 15px;
    }
}
@media(max-width: 480px){
    .mypiano{
        margin-top: 20vh;
    }
    button{
        width: 30px;
        height: 150px;
        font-size: 10px;
    }
}
@media(max-width: 400px){
    .mypiano{
        margin-top: 20vh;
    }
    button{
        width: 40px;
        height: 100px;
        font-size: 5px;
    }
}